.new-incident-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.new-incident-container .content {
  width: 100%;
  padding: 96px;
  background: #f0f0f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-incident-container .content section {
  width: 100%;
  max-width: 380px;
}

.new-incident-container .content section h1 {
  margin: 64px 0 32px;
  font-size: 32px;
}

.new-incident-container .content section p {
  font-size: 18px;
  color: #737380;
  line-height: 32px;
}

.new-incident-container .content form {
  width: 100%;
  max-width: 450px;
}

.new-incident-container .content form input, 
.new-incident-container .content form textarea {
  margin-top: 8px;
}

@media(max-width: 823px) {
  .new-incident-container .content {
    flex-direction: column;
    padding: 40px;
  }

  .new-incident-container .content form {
    max-width: 90%;
  }

  .new-incident-container .content section {
    max-width: 90%;
  }
}

@media (max-width: 426px) {
  .new-incident-container .content {
    height: 100%;
    padding: 15px;
  }

  .new-incident-container .content section h1 {
    margin: 20px 0 10px;
    font-size: 20px;
  }

  .new-incident-container .content section p {
    font-size: 14px;
    color: #737380;
    line-height: 20px;
    padding-bottom: 10px;
  }
}